version: '3.8'

services:

  mysql:
    image: mysql:8
    container_name: bpo_mysql
    restart: always
    environment:
      MYSQL_DATABASE: bpo_prueba
      MYSQL_USER: bpo_user
      MYSQL_PASSWORD: bpo_pass
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build: .
    container_name: bpo_api
    restart: always
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev

volumes:
  mysql_data:
